h1 {
    padding: 2rem;
    text-align: center;
}

.input__section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

form{
    align-items: center;
    text-align: center;
}

.formStyle {
    margin-bottom: 1rem;
}

input {
    font-size: 1.5rem;
    text-align: left;
    color: #000;
    text-overflow: inherit;
    white-space: wrap;
    width: 50%;
    margin: 1rem;
}

textarea {
    font-size: 1.5rem;
    width: 50%;
    color: #000;
    margin-bottom: 1rem;
}

label {
    font-size: 1.5rem;
    text-align: center;
    display: block;
}

#comment__input {
    height: 10rem;
}

button {
    background-color: #5e005e;
    font-size: 1.3rem;
}