h1 {
    padding: 2rem;
    text-align: center;
}

.input__section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formStyle {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#nameError__span {
    text-wrap:inherit;
}

input {
    width: 40rem;
    font-size: 1.5rem;
    text-align: left;
    color: #000;
    text-overflow: inherit;
    white-space: wrap;
    margin: 1rem;
}

textarea {
    width: 50rem;
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 1rem;
}

label {
    font-size: 1.5rem;
    text-align: center;
    display: block;
}

#comment__input {
    height: 10rem;
}

button {
    width: 5rem;
    height: 3rem;
    background-color: #5e005e;
    font-size: 1.3rem;
    border: .3rem solid #350035 ;
    border-radius: 3rem;
}

.footer {
    margin-top: 30rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 800px){
    input {
        width: 20rem;
        font-size: 1.5rem;
        text-align: left;
        color: #000;
        text-overflow: inherit;
        white-space: wrap;
        margin: 1rem;
    }

    textarea {
        width: 20rem;
        font-size: 1.5rem;
        color: #000;
        margin-bottom: 1rem;
    }
}